/*
 * === Global style ===
 */

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font: 16px Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

button{
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    outline: none;
}

body{
    color: #484848;
    height: 100vh;
}

 html, body {
    width: 100%;
    overflow-x: hidden;
 }

 .container{
    margin: 30px auto;
    max-width: 1000px;
 }

 strong {
   font-weight: bold;
 }
